* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}
body {
  margin-left: 50px;
  margin-right: 50px;
}
nav {
  width: 100%;
  height: 100px;
  background-color: #4bb04e;
}
.col {
  padding: 30px;
}
nav {
  padding: 5px;
  color: white;
  font-weight: 600;
  font-size: 50pt;
}
section#totem-situation .display-4 {
  font-size: 2rem;
  margin: 20px 0 20px 0;
}
section#totem-situation .totem-list .totem-list-item {
  color: white;
  height: 30px;
  margin-top: 5px;
  padding-left: 5px;
  line-height: 21pt;
  border-width: 2px;
  border-color: darkgray;
  border-radius: 5px;
  background-color: #4bb04e;
}
section#totem-situation .totem-list .empty {
  background-color: #ce3737;
}
section#totem-situation .totem-list .half {
  background-color: #ffea22;
  color: #ab8900;
}
section#totem-situation .totem-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
section#totem-situation .totem-geo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 90%;
}
section#totem-situation .totem-geo #map {
  height: 400px;
  width: 100%;
}
section#totem-situation .totem-geo #map .map-tooltip {
  text-align: center;
  font-weight: 600 !important;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
