@color-primary-green: #4bb04e;
@color-primary-red: #ce3737;
@color-primary-yellow: #ffea22;

* {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
}

body {
    margin-left: 50px;
    margin-right: 50px;
}

nav {
    width: 100%;
    height: 100px;
    background-color: @color-primary-green;
}

.col {
    padding: 30px;
}

nav {
    padding: 5px;
    color: white;
    font-weight: 600;
    font-size: 50pt;
}

section#totem-situation {
    .display-4 {
        font-size: 2rem;
        margin: 20px 0 20px 0;
    }

    .totem-list {
        .totem-list-item {
            color: white;
            height: 30px;
            margin-top: 5px;
            padding-left: 5px;
            line-height: 21pt;
            border-width: 2px;
            border-color: darkgray;
            border-radius: 5px;
            background-color: @color-primary-green;
        }

        .empty {
            background-color: @color-primary-red;
        }

        .half {
            background-color: @color-primary-yellow;
            color: #ab8900;
        }
    }

    .totem-form {
        .center-block;
        width: 90%;
    }

    .totem-geo {
        .center-block;
        margin-top: 60px;
        width: 90%;

        #map {
            height: 400px;
            width: 100%;

            .map-tooltip {
                text-align: center;
                font-weight: 600 !important;
            }
        }
    }

}

.center-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
}