* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
body {
  margin-left: 50px;
  margin-right: 50px;
}
.col {
  padding: 30px;
}
nav {
  width: 100%;
  height: 100px;
  background-color: #0275d8;
  padding: 5px;
  color: white;
}
nav h1 {
    font-weight: 400;
    font-size: 20pt;
  color: white;
}
nav .menu {
  display: flex;
}
nav .menu .menu-item {
  margin: 0 10px 10px 0;
}
nav .menu .menu-item a {
  color: inherit;
  font-weight: inherit;
}
nav .menu .active {
  font-weight: 500;
}

@media (min-width: 768px) {
    nav {
        width: 100%;
        height: 100px;
        background-color: #0275d8;
        padding: 5px;
        color: white;
    }

    nav h1 {
        font-weight: 600;
        font-size: 32pt;
        color: white;
    }
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section#totem-situation .display-4 {
  font-size: 2rem;
  margin: 20px 0 20px 0;
}
section#totem-situation .totem-list-item {
  height: 30px;
  margin-top: 5px;
  padding-left: 5px;
  line-height: 21pt;
  border-width: 2px;
  border-color: darkgray;
  border-radius: 5px;
}
section#totem-situation .full {
  background-color: #4bb04e;
  color: white;
}
section#totem-situation .empty {
  background-color: #ce3737;
  color: white;
}
section#totem-situation .half {
  background-color: #ffea22;
  color: #ab8900;
}
section#totem-situation .offline {
  background-color: #bcbcbc;
  color: black;
}
section#totem-situation .caption {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid dimgrey;
  border-radius: 5px;
  width: 80%;
  text-align: center;
}
section#totem-situation .totem-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
section#totem-situation .totem-geo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 90%;
}
section#totem-situation .totem-geo #map {
  height: 400px;
  width: 100%;
}
section#totem-situation .totem-geo #map .map-tooltip {
  text-align: center;
  font-weight: 600 !important;
}
